.datePicker {
  display: flex;
  align-items: center;
  border: 1px solid #212529;
  border-radius: 4px;
  background-color: #212529;
  box-sizing: border-box;
  width: 100%;
  height: 46px;
  color: white;
  text-align: center;
  padding-right: 14px;

  &:hover,
  &:focus {
    background-color: #555;
    cursor: pointer; 
  }
}

.react-datepicker__header {
  background-color: #212529;
  color: white;
  border-bottom: 1px solid #333;
  padding: 1rem;
}

.react-datepicker__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 2rem;
  padding-bottom: 20px;
}

.react-datepicker__current-month {
  color: white;
  margin: 1rem 0;
  font-size: 22px;
}

.react-datepicker__day-name {
  color: white;
  font-size: 16px;
}

.react-datepicker__month {
  background-color: #212529;
  margin: 0;
  padding: 0.4rem;
  padding-bottom: 20px;
}

.react-datepicker__day {
  color: white;

  &:hover {
    background-color: #d63384;
    border-radius: 50%;
  }
}

.react-datepicker__navigation {
  color: white;
  padding: 47px 0;
}

.react-datepicker__day--selected {
  background-color: #fc4b52;
  border-radius: 50%;
  &:hover {
    background-color: white;
  }
}

.react-datepicker__day:not([aria-disabled="true"]):hover,
.react-datepicker__month-text:not([aria-disabled="true"]):hover,
.react-datepicker__quarter-text:not([aria-disabled="true"]):hover,
.react-datepicker__year-text:not([aria-disabled="true"]):hover {
  background-color: #666;
  color: #ffffff;
  border-radius: 50%;
}

.react-datepicker__day:not([aria-disabled="true"]):focus,
.react-datepicker__month-text:not([aria-disabled="true"]):focus,
.react-datepicker__quarter-text:not([aria-disabled="true"]):focus,
.react-datepicker__year-text:not([aria-disabled="true"]):focus {
  background-color: #fc4b52;
  color: #ffffff;
  border-radius: 50%;
}
